{% extends 'base.html' %}

{% block content %}

<div class="card-body p-0">
    <div class="card-header bg-dark p-3 m-0">
        <h1 class="txtStyle2 text-white m-0">FacteurS impactant la vitesse de livraisons des commandes clientes</h1>
    </div>

    <div class="cardStats pt-4 pb-2">
        <div class="divSpace">
            <div class="row">
                <a class="btn__valo btn__valo--green me-3 text-decoration-none btn" href="{{ url_for('Livreur') }}">
                    <span class="btn__inner">
                        <span class="btn__slide__green"></span>
                        <span class="btn__content"><i class="fa-solid fa-circle-user fa-xl me-2"></i>Livreur</span>
                    </span>
                </a>
                
                <a class="btn__valo btn__valo--blue text-decoration-none btn" href="{{ url_for('trajet_vue') }}">
                    <span class="btn__inner">
                        <span class="btn__slide__blue"></span>
                        <span class="btn__content"><i class="fa-solid fa-traffic-light fa-xl me-2"></i>Trajet</span>
                    </span>
                </a>

                <a class="btn__valo btn__valo--red text-decoration-none btn" href="{{ url_for('distance') }}">
                    <span class="btn__inner">
                        <span class="btn__slide__red"></span>
                        <span class="btn__content"><i class="fa-solid fa-file-invoice fa-xl me-2"></i>Distance</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}