{% extends 'base.html' %}
{% block title %}Trajet{% endblock %}

{% block content %}
<div class="card-body p-0 pb-1">
    <div class="card-header bg-violetTwitch p-3 m-0">
        <h5 class="card-title text-white m-0">Données générales de trajet</h5>
    </div>

    <div class="cardStats py-2 mb-1">
        <div class="divGraphs">
            <div class="divGraphsRow flex-wrap col-12">
                <img class="col-12 col-md-6" src="data:image/png;base64,{{ graphs_dict['graph_circ_vehi'] }}" width="600">
                <img class="col-12 col-md-6" src="data:image/png;base64,{{ graphs_dict['graph_circ_city'] }}" width="600">
            </div>
            <div class="d-flex justify-content-around flex-wrap dark mb-3">
                <div class="d-flex flex-column align-items-center justify-content-between col-12 col-md-6">
                    <div class="card cardTopBorder">
                        <div class="card-header avg_moyenne_header text-white bg-violetTwitch">
                            <div>Temps moyen de livraison par véhicule</div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped m-0">
                                <tbody>
                                    {% for index, row in avg_dict['avg_vehitime'].iterrows() %}
                                        <tr>
                                            <td class="d-flex justify-content-center">{{ row['Type_of_vehicle'] }}</td>
                                            <td class="ps-4">{{ row['Time_taken(min)']|round(2) }} minutes</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-between col-12 col-md-6">
                    <div class="card cardTopBorder">
                        <div class="card-header avg_moyenne_header text-white bg-violetTwitch">
                            <div>Temps moyen de livraison par ville</div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped m-0">
                                <tbody>
                                    {% for index, row in avg_dict['avg_citytime'].iterrows() %}
                                        <tr>
                                            <td class="text-center">{{ row['City'] }}</td>
                                            <td class="text-center">{{ row['Time_taken(min)']|round(2) }} minutes</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="d-flex flex-wrap mt-1">

    <div class="card-body p-1 col-12 col-lg-6">
        <div class="card-header bg-violetTwitch p-3 m-0">
            <h5 class="card-title text-white m-0">Temps moyen de livraison en minutes</h5>
        </div>
        <div class="cardStats py-2">
            <div class="d-flex flex-wrap justify-content-center px-2 mt-4 w-100">
                <img class="col-12 graph-maxw" src="{{ graphs_dict['graph_avgtemps'] }}" width="600">
            </div>
        </div>
    </div>
    <div class="card-body p-1 col-12 col-lg-6">
        <div class="card-header bg-violetTwitch p-3 m-0">
            <h5 class="card-title text-white m-0">Temps de livraison selon le traffic routier</h5>
        </div>
        <div class="cardStats py-2">
            <div class="d-flex flex-wrap justify-content-center px-2 mt-4 w-100">
                <img class="col-12 col-lg-6 graph-maxw" src="{{ graphs_dict['graph_density'] }}" width="600">
            </div>
        </div>
    </div>
    <div class="card-body p-1 col-12 col-lg-6">
        <div class="card-header bg-violetTwitch p-3 m-0">
            <h5 class="card-title text-white m-0">Temps de livraison selon le type de véhicule</h5>
        </div>
        <div class="cardStats py-2">
            <div class="d-flex flex-wrap justify-content-center px-2 mt-4 w-100">
                <img class="col-12 col-lg-6 graph-maxw" src="{{ graphs_dict['graph_vehi'] }}" width="600">
            </div>
        </div>
    </div>
    <div class="card-body p-1 col-12 col-lg-6">
        <div class="card-header bg-violetTwitch p-3 m-0">
            <h5 class="card-title text-white m-0">Temps de livraison / conditions météorologiques</h5>
        </div>
        <div class="cardStats py-2">
            <div class="d-flex flex-wrap justify-content-center px-2 mt-4 w-100">
                <img class="col-12 col-lg-6 graph-maxw" src="{{ graphs_dict['graph_weather'] }}" width="600">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}